<div class="container__big-card">

    <div class="big-card__photo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8wk4x2MS5IwwYFijpcXzrSnwZI-eYc07CiA&usqp=CAU"
        alt="" height="200px" srcset="">
    </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>

    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu dolor, hendrerit vel porta eu, tempus ut
        nisl. Etiam et interdum orci. Nullam cursus turpis a lectus gravida rutrum. Fusce posuere, sem sed cursus
        sodales, quam mi cursus sapien, vitae vestibulum turpis dui at urna. Donec mollis, sem ac suscipit ultrices, ex
        risus interdum eros, eget vulputate ipsum ante nec ligula. Nullam orci enim, hendrerit vel condimentum sed,
        suscipit dignissim elit. Donec volutpat molestie risus, a viverra est malesuada ac. Phasellus blandit sapien
        eget aliquet feugiat. Aenean arcu erat, rutrum
      </p>
    </div>

</div>
