.container_menu-title {
  color: white;
}

.container_menu-title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-weight: bolder;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
}

.container_menu-title > hr {
  margin-top: 20px;
  margin-top: 5px;

}
